.page {
    background-color:brown;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 50px 100px
}
.border {
    background-color:brown;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding:20px;
    border:10px solid blue;
    border-radius: 50px;
}

.upperbox {
    background-color:white;
    padding: 0px 15px 0px;
    border:none;
    border-radius: 30px;
}

.upperbox:hover {
    background: linear-gradient(to left,rgb(52, 148, 243),blue);
    color:white;
    text-transform: uppercase;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0px 5px 0px
}


.middlebox {
    background-color:white;
    border:none;
    border-radius: 30px;
    margin: 100px 10% 50px;
    padding: 0px 5px 0px;
    width:265px
}

.middlebox:hover {
    background:linear-gradient(to right, rgb(23, 172, 177),rgb(40, 121, 207), blue);
    width:350px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 10px 0px 30px;
    margin:0px 30px 0px;
}

button {
     background:linear-gradient(to right,blue,red);
    border: none;
    border-radius: 50px;
    width: 150px;
    height:50px;
    padding: 5px 0px 5px;
}

button:hover {
     background:linear-gradient(to left,rgb(54, 54, 240),rgb(215, 69, 69));
     font-size: 20px;
}

a {
    color:white;
    text-decoration: none;
    font-size:15px
}